.main-container {
  height: 1250px;
  margin-top: 40px;
  border-radius: $radius;
  background-color: $color-light;
}

// First row: order and book

.first-row {
  @include flex(row, flex-start, center);
}

.order .first-row-btn {
  background-image: url('/images/assets/pizza-1.jpg');
  background-size: 300px 120px;
}

.book .first-row-btn {
  background-image: url('/images/assets/pizza-2.jpg');
  margin-left: 6px;
}

.first-row-btn {
  border-color: $color-light;
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-header;
  border-radius: $radius;
  margin-top: 50px;
  width: 295px;
  height: 120px;
  padding: 0;
  letter-spacing: -0.50px;

  h1 {
    margin-bottom: 0;
    line-height: 70px;
    font-size: 26px;
    transition: all 1s ease-in-out;
  }

  p {
    font-size: $home-size;
    font-family: $font-text;
    font-weight: 400;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  &:hover {
    h1 {
      color: $color-light;
      line-height: 40px;
    }

    p {
      color: $color-light;
      line-height: 40px;
      opacity: 1;
    }
  }
}

// Second row: opening hours

.second-row {
  @include flex(row, flex-start, center);
  margin-top: 6px;
}

.open {
  background-color: $color-main;
  border-radius: $radius;
  font-family: $font-header;
  color: $color-light;
  text-align: center;
  margin: 0;
  width: 595px;
  height: 120px;

  h3 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  p {
    font-family: $font-text;
    font-size: $home-size;
    font-weight: $font-light;
    margin-top: 0;
  }
}

// Third row: picture and carousel

.third-row {
  @include flex(row, flex-start, center);
  margin-top: 100px;
  width: 600px;
  margin-left: 15px;
}

.image {
  background-image: url("/images/assets/pizza-3.jpg");
  width: 195px;
  height: 195px;
  background-size: cover;
  border-radius: $radius;
}

.quotes {
  width: 350px;

  ul {
    padding-left: 70px;
  }

  li {
    list-style: none;
  }
}

.quote-title, .quote-content, .quote-author {
  color: $color-dark;
  font-family: $font-text;
  font-size: $home-size;
}

.quote-title {
  padding-top: 15px;
  font-weight: $font-bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.quote-content {
  font-weight: $font-normal;
  line-height: 23px;
}

.quote-author {
  padding-bottom: 30px;
  font-style: italic;
  line-height: 23px;
}

.images-fist-row {
  margin-top: 30px;
}

.images-fist-row, .images-second-row {
  @include flex(row, flex-start, center);

  img {
    width: 193px;
    height: 193px;
    margin: 6px;
    border-radius: $radius;
  }
}

.image-gallery {
  position: relative;
  @include flex(row, flex-start, center);
}

.image-gallery img {
  -webkit-filter: brightness(100%);
}

.image-gallery:hover {
  img {
    -webkit-filter: brightness(50%);
    transition: $transition;
  }

  .icon {
    opacity: 1;
  }
}

.icon {
  top: 40%;
  font-size: 20px;
  color: $color-light;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cookie {
  color: $color-light;
  transition: $transition;

  &:hover {
    color: $color-main;
  }
}

.footer {
  margin-top: 10px;
}

.footer a{
  font-family: $font-text;
  font-size: $home-size;
  font-weight: $font-normal;
  margin-left: 30px;
  padding-bottom: 40px;
  color: $color-main;
  line-height: 25px;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}
